<a href="https://colab.research.google.com/github/shrivatsashetty/Projects/blob/main/Synamedia_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import modules**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# %matplotlib notebook

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
main_df = pd.read_csv("/content/drive/MyDrive/Data-Science/2DaysViewingSession.csv")

# **Tabular form**

In [ ]:
main_df

# *main dataframe shape*

In [ ]:
main_df.shape

### ***the main dataframe contains 2,60,11,967 records***

# main dataset columns

In [ ]:
i = 1
print("The dataset contains the following columns")
for column in main_df.columns:
  print(i,".",column)
  i+=1

In [ ]:
main_df.describe()

In [ ]:
main_df.isna().sum()

In [ ]:
cleaned_df = main_df.dropna()

In [ ]:
cleaned_df.shape

In [ ]:
type(cleaned_df.shape)

# difference b/w new and orignal data frame

In [ ]:
records_differenece = main_df.shape[0] - cleaned_df.shape[0]

In [ ]:
percent_record_difference = (records_differenece / main_df.shape[0]) * 100

### percentage difference in records after dropping rows

In [ ]:
percent_record_difference

In [ ]:
cleaned_df.describe()

In [ ]:
cleaned_df.info()

In [ ]:
uniq_states = cleaned_df['state'].value_counts()

### List of distinct states

In [ ]:
uniq_states

# List of actual Malaysian states plus federal territories

In [ ]:
states_list = ["Perlis", "Kedah", "Penang", "Perak", "Selangor", "Negeri Sembilan",
               "Melaka", "Johor", "Kelantan", "Terengganu", "Pahang", "Kuala Lumpur", "Putrajaya", "Sabah", "Sarawak", "Labuan" ]

In [ ]:
len(states_list)

# filtering duplicate state if any

In [ ]:
states_list = list(set(states_list))

In [ ]:
for state in states_list:
  print(state)

In [ ]:
len(states_list)

In [ ]:
org_distinct_states = main_df['state'].value_counts()

In [ ]:
org_distinct_states.count()

# Filtering  non Malaysian states

In [ ]:
cleaned_df = cleaned_df[cleaned_df['state'].isin(states_list)]

In [ ]:
type(cleaned_df['state'].isin(states_list))

In [ ]:
cleaned_df_states = cleaned_df['state'].value_counts()

In [ ]:
cleaned_df_states

In [ ]:
type(cleaned_df_states)

In [ ]:
cleaned_df_states.sum()

In [ ]:
cleaned_df_states.count()

### hence the **final version of cleaned_df** contains list of only 16 states which is actual no of states in malaysia

In [ ]:
cleaned_df.shape

## Till here we have a final version of cleaned dataframe

# Now scaling down the dataset

In [ ]:
sample_size = int(cleaned_df.shape[0] * 0.4)

In [ ]:
sample_size

In [ ]:
sampled_df = cleaned_df.sample(n=sample_size, random_state=42)

# Now we consider only those records whose watch duration is non-zero

In [ ]:
nz_duration_df = sampled_df[sampled_df["duration_seconds"] !=0]

In [ ]:
nz_duration_df

In [ ]:
nz_duration_df.shape

In [ ]:
(nz_duration_df.shape[0] / main_df.shape[0]) * 100

# states frequency & statistics analysis

In [ ]:
sampled_df["state"].value_counts()

In [ ]:
nz_duration_df["state"].value_counts()

In [ ]:
states_series = nz_duration_df["state"].value_counts()

In [ ]:
states_series

In [ ]:
print(len(states_series))

In [ ]:
print(states_series.nunique())

In [ ]:
cumilative_frequency_of_states = states_series.sum()

In [ ]:
cumilative_frequency_of_states

In [ ]:
statewise_frequency_percentages = {}
for state in states_series.index:
  statewise_frequency_percentages[state] = (states_series[state] / cumilative_frequency_of_states) * 100

In [ ]:
statewise_frequency_percentages

# list of distinct content_type (content_category)

In [ ]:
content_categories = nz_duration_df['content_type'].value_counts()

In [ ]:
content_categories

In [ ]:
len(content_categories)

In [ ]:
content_categorywise_percentages = {}
for category in content_categories.index:
  content_categorywise_percentages[category] = (content_categories[category] / content_categories.sum()) * 100

In [ ]:
content_categorywise_percentages

# list of distinct content (T.V Shows)

In [ ]:
content_series = nz_duration_df['content'].value_counts()

 * ***the value_counts() method will always return a pandas series with unique indexes so no need to worry about the uniqueness of index names***

In [ ]:
content_series

In [ ]:
nz_duration_df.shape[0]

In [ ]:
len(content_series)

In [ ]:
print(content_series.index.nunique()) # using nunique() method

In [ ]:
no_of_shows = content_series.index.nunique()

In [ ]:
sampled_df.shape[0]

## There are almost 54000 distinct shows. Below is top 20

In [ ]:
content_series.head(10)

### bottom 20 TV shows

In [ ]:
content_series.tail(20)

## sports shows are most watched

In [ ]:
distinct_contents_dictionary = content_series.to_dict()

In [ ]:
len(distinct_contents_dictionary)

In [ ]:
distinct_contents_dictionary

In [ ]:
# since the dictionary is too big lets only see the first few elements
# first_few_elements = 10
# for key, value in distinct_contents_dictionary.items():
#   print(key, ":", distinct_contents_dictionary[key])
#   first_few_elements -= 1
#   if first_few_elements == 0:
#     break

In [ ]:
len(distinct_contents_dictionary)

# Feature Engineering & Extraction
* Adding date, time, day some extra columns

In [ ]:
datetime_format = "%Y-%m-%d %H:%M:%S.%f %Z"

# Convert the column to datetime using the specified format
nz_duration_df['event_start_tz'] = pd.to_datetime(nz_duration_df['event_start_tz'], format=datetime_format)

# Check the data type of the 'event_start_tz' column
print(nz_duration_df['event_start_tz'].dtype)

In [ ]:
nz_duration_df['date'] = nz_duration_df['event_start_tz'].dt.date
nz_duration_df['time'] = nz_duration_df['event_start_tz'].dt.time
nz_duration_df['timezone'] = nz_duration_df['event_start_tz'].dt.tz
nz_duration_df['end_time'] = nz_duration_df['event_start_tz'] + pd.to_timedelta(nz_duration_df['duration_seconds'], unit='s')
nz_duration_df['timestamp'] = nz_duration_df['event_start_tz'].apply(lambda x: x.timestamp())
# Assuming you have a DataFrame named 'sampled_df' with a 'date' column

# Convert the 'date' column to a datetime format
nz_duration_df['date'] = pd.to_datetime(nz_duration_df['date'])

# Add a new 'day' column to represent the day of the week
nz_duration_df['day'] = nz_duration_df['date'].dt.day_name()

In [ ]:
nz_duration_df["day"].value_counts()

In [ ]:
nz_duration_df = nz_duration_df[nz_duration_df['day'].isin(['Sunday', 'Monday'])]

In [ ]:
nz_duration_df.shape

In [ ]:
  nz_duration_df.info()

In [ ]:
nz_duration_df["event_start_tz"][0]

In [ ]:
nz_duration_df

## duration_seconds is the only numerical field hence lets see description of that field

In [ ]:
nz_duration_df.describe()

In [ ]:
nz_duration_df.info()

### ***sampled dataframe  is what % of orignal dataframe ?***

In [ ]:
(sampled_df.shape[0] / main_df.shape[0]) * 100

## List of distinct content providers

In [ ]:
provider_list = nz_duration_df["content_source"].value_counts()

In [ ]:
provider_list

### top 20 content providers

In [ ]:
provider_list.head(20) # seeing top 20 content providers

### bottom 20 content providers

In [ ]:
provider_list.tail(20)

In [ ]:
# ! pip install pandas_profiling
# from pandas_profiling import ProfileReport

In [ ]:
# nz_duration_df_profile =  ProfileReport(nz_duration_df)
# nz_duration_df_profile.to_file(output_file = '/content/nz_duration_df_profile.html')

In [ ]:
nz_duration_df